@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {

  name: "light";

  --color-primary: #06b6d4;

  /* Secondary: Emerald Green - Fresh & Natural */

  --color-secondary: #32ff7e;

  /* Accent: Coral Orange - Energetic & Fun */

  --color-accent: #f97316;

  /* Neutral: Charcoal for text */

  --color-neutral: #78716C;

 

  /* Base: Pure White */

  --color-base-100: #ffffff;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-accent-content: #ffffff;

  --color-base-200: #FAFAFA;

  --color-base-300: #F4F4F5;

  --color-base-content: #18181B;

};



@plugin "daisyui/theme" {

  name: "dark";

 

  /* Primary: Vivid Purple - Modern Dark */

  --color-primary: #0891b2;

 

  /* Secondary: Bright Emerald - Pop in dark */

  --color-secondary: #26de6b;

 

  /* Accent: Warm Coral - Vibrant accent */

  --color-accent: #FB923C;

 

  /* Neutral: Soft White text */

  --color-neutral: #A8A29E;

 

  /* Base: Rich Black */

  --color-base-100: #09090B;

 

  --color-primary-content: #09090B;

  --color-secondary-content: #09090B;

  --color-accent-content: #09090B;

  --color-base-200: #18181B;

  --color-base-300: #27272A;

  --color-base-content: #FAFAFA;

};





@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));